@import "./reset.scss";
@font-face {
  font-family: 'PT Sans Caption';
  src:  url('./../fonts/pt-sans-caption.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

$fontFamily: 'PT Sans Caption', sans-serif;
@import "./normalize.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 50px;
  box-sizing: border-box;
}

.main {
  padding: 70px 0;
  @media (max-width: 990px) {
    padding: 40px 0;
  }
}

.add-to-basket-btn {
  background: #f5a834;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  @media (max-width: 990px) {
    font-size: 14px;
  }
}

.intro {
  &__text {}
  &__title {
    color: #401e17;
    font-size: 32px;
    font-weight: 900;
    @media (max-width: 1200px) {
      font-size: 22px;
    }
  }
  &__info {
    margin: 20px 0 0 0;
  }
  &__slider{
    .item-catalog {
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.info-intro {
  min-width: 0;
  @media (max-width: 1200px) {
    margin: 0 0 20px 0;
  }
  &__text {
    font-size: 16px;
    color: #888;
    font-weight: 300;
    margin: 15px 0 0 0;
    &:nth-child(2) {
      margin: 20px 0 0 0;
    }
    &:last-child {
      margin: 30px 0 0 0;
    }
    @media (max-width: 990px) {
      font-size: 14px;
    }
  }
}

.product-carousel {
  position: relative;
  .rec-pagination {
    display: none;
  }
  .rec-item-wrapper {
    height: 100%;
  }
  &__item{
    position: relative;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 6px;
    cursor: pointer;
    max-height: 100px;
    @media (max-width: 578px) {
      max-height: 140px;
    }
    &:first-child {
    }
    &:hover {
      border: 1px solid #5e4b3f;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__arrow {
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
    background-color: #d5d5d5b3;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease-in;
  }
  &__arrow-next {
    right: -6px;
    span {
      position: absolute;
      width: 9px;
      height: 9px;
      transform: rotate(45deg);
      border-top: 3px solid #7a7a7a;
      border-right: 3px solid #7a7a7a;
      left: 5px;
      top: 5px;
    }
    &:hover {
      background: #b5b5b5;
    }
  }
  &__arrow-prev {
    left: -6px;
    span {
      position: absolute;
      width: 9px;
      height: 9px;
      transform: rotate(-135deg);
      border-top: 3px solid #7a7a7a;
      border-right: 3px solid #7a7a7a;
      right: 4px;
      top: 5.5px;
    }
    &:hover {
      background: #b5b5b5;
    }
  }

  .arrow-dis {
    .product-carousel__arrow {
      display: none;
    }
  }

}

.slider-intro {
  position: relative;
  &__title{
    text-align: center;
    margin: 0 0 20px 0;
  }
  &__body{}
  &__item{}
}

.main-carousel {
  .rec-slider {
    min-height: unset;
  }
  &__item{
    max-height: 100%;
    .item-catalog {
      margin: 0;
      //&__img {
      //  display: block;
      //  max-height: 300px;
      //}
    }
  }
  .add-to-basket-btn {
    display: none;
  }
}
//Catalog styles start

.catalog {
  &__filter {
  }


  .add-to-basket-btn {
    font-size: 15px;
    width: 100%;
  }

  &__item {
  }
}

.item-catalog {
  margin: 20px 0;
  transition: box-shadow .1s ease;
  &:hover {
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
  }
  @media (max-width: 576px) {
    margin: 10px 0;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;

  }
  &__price {
    //text-align: right;
    margin: 10px 0;
    p {
      font-size: 15px;
      font-weight: bold;
      color: #313131;
      span {
        font-size: 16px;
        color: #4a7b7d;
      }
    }
  }
}

.filter {
  padding: 20px 0;
  margin: 0 0 10px 0;
  position: relative;
  overflow: hidden;
  background: #e4d7cf;
  @media (max-width: 1200px) {
    padding: 10px 0;
  }
  @media (max-width: 990px) {
    background: transparent;
  }
  &__spoiler {
    display: none;
    position: relative;
    z-index: 1;
    @media (max-width: 990px) {
      display: flex;
      align-items: center;
      height: 50px;
      &_title {
        background: #d0d0d0;
        margin: 0 0 5px 0;
        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          right: 10px;
          border-right: 2px solid #626262;
          border-bottom: 2px solid #626262;
          transform: rotate(45deg);
          transition: .2s ease-in;
        }
        &.spoiler-active::after {
          transform: rotate(-135deg);
        }
        &.spoiler-active {
          //margin: 0;
        }
      }
      &_price {
        justify-content: flex-end;
        margin: 5px 0 0 0;
        border: 1px solid #626262;
        background: grey;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          left: 10px;
          border-right: 2px solid #626262;
          border-bottom: 2px solid #626262;
          transform: rotate(45deg);
          transition: .2s ease-in;
        }
        &.spoiler-active::before {
          transform: rotate(-135deg);
        }
      }
    }
  }
  &__filter-by-title {
    display: flex;
    align-items: center;
  }
  &__filter-by-price {
    display: flex;
    align-items: center;
    @media (max-width: 990px) {
      p {
        display: none;
      }
    }
  }
  &__form {}
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    overflow: hidden;
    @media (max-width: 990px){
      flex-wrap: wrap;
      justify-content: space-around;
      max-height: 0;
      transition: max-height .5s linear;
      &.active {
        max-height: 10rem;
      }
    }
    li {
      margin: 0 5px 0 0;
      border-bottom: 1px solid #aaaaaa;
      &:last-child {
        margin: 0;
      }
      @media (max-width: 990px){
        border: none;
        margin: 10px;
        &:last-child {
          margin: 10px;
        }
      }
    }
  }
  &__link {
    padding: 10px;
    @media (max-width: 1200px){
      font-size: 14px;
      font-weight: 600;
    }
    &.active {
      color: coral;
    }
  }
  &__clean {
    display: flex;
    align-items: center;
    @media (max-width: 575px) {
      margin: 0 0 20px 0;
    }
  }
  &__sort {
    button {
      width: 100%;
    }
  }
}

.form-filter {
  @media (max-width: 990px) {
    width: 100%;
    max-height: 0;
    transition: all .5s ease-out;
    box-sizing: border-box;
    &.active {
      max-height: 10rem;
    }
  }
  &__input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    @media (max-width: 990px) {
      margin: 16px 0;
    }
    input {
      font-size: 13px;
      @media (max-width: 1200px) {
        padding: 5px;
      }
      @media (min-width: 990px) {
        width: 75%;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }
  &__submit {
    font-size: 15px;
    width: 100%;
  }
  &__row {
    align-items: center;
    label {
      margin: 0 5px 0 0;
    }
  }
}

//Catalog styles end

button {
  font-size: 0;
}

.product-card {
  &__left {}
  &__title {
    font-weight: bold;
    color: #282828;
    margin: 0 0 30px 0;
    @media (max-width: 990px) {
      font-size: 23px;
      margin: 15px 0;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
    span {
      color: #5c5c5c;
      font-size: 18px;
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
  }
  &__info {}
  .add-to-basket-btn {
    font-size: 25px;
    @media (max-width: 990px) {
      font-size: 15px;
    }
  }
}

.card-info {
  @media (max-width: 990px) {
    margin: 30px 0 0 0;
  }
  @media (max-width: 578px) {
    margin: 10px 0 0 0;
  }
  &__title {
    margin: 0 0 30px 0;
    color: #323232;
    font-weight: 700;
    @media (max-width: 990px) {
      font-size: 20px;
      margin: 0 0 15px 0;
    }
  }
  &__subtitle {
    margin: 0 0 14px 0;
    color: #5c5c5c;
    font-weight: 600;
    @media (max-width: 990px) {
      font-size: 16px;
      margin: 0 0 15px 0;
    }
  }
  &__desc {
    font-size: 12px;
    color: #aaa;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 40px 0;
    @media (max-width: 990px) {
      margin: 0 0 20px 0;
    }
  }
  &__price {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px 0;
    @media (max-width: 990px) {
      font-size: 20px;
    }
    span {
      color: #4a7b7d;
      font-size: 35px;
      background: #fff;
      border-radius: 10px;
      padding: 5px 10px;
      @media (max-width: 990px) {
        font-size: 25px;
      }
    }
  }
}

.product-gallery {
  width: 100%;
  overflow: hidden;
  margin: 0 0 30px 0;
  padding: 0 5px 0 0;
  &__item{
    position: relative;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      border: 1px solid #5e4b3f;
    }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
}

.slider-product-big {
  &__item {
    border: 1px solid #a9aaac;
    border-radius: 10px;
  }
}

.basket {
  &__body {
    margin: 0 0 50px 0;
    @media (max-width: 575px) {
      margin: 0 0 25px 0;
    }
  }
  &__title {
    margin: 0 0 30px 0;
    @media (max-width: 575px) {
      margin: 0 0 15px 0;
    }
  }
  &__row {
    padding: 30px 20px;
    border-bottom: 1px solid #42352c;
    @media (max-width: 578px) {
      padding: 15px 10px;
    }
    &_top {
      background: #e5e5e5;
      border-radius: 10px 10px 0 0;
      padding: 20px 30px;
    }
  }
  &__amount {
    font-size: 14px;
    color: #6a6d70;
  }
  &__remove-all{
    text-align: right;
    a {
      background: #cecece;
      padding: 10px 20px;
      transition: .1s ease;
      &:hover {
        background: #aaaaaa;
      }
      @media (max-width: 575px) {
        display: block;
        width: 100%;
        margin: 10px 0 0 0;
        text-align: center;
      }
    }
  }
  &__price {
    text-align: right;
    p {
      font-size: 30px;
      font-weight: bold;
      color: #313131;
      @media (max-width: 768px) {
        font-size: 25px;
      }
      @media (max-width: 575px) {
        font-size: 20px;
      }
    }
    &_c {
      color: #4a7b7d;
    }
  }
  &__form-btns {
    @media (max-width: 770px) {
      text-align: center;
    }
    @media (max-width: 576px) {
      text-align: right;
    }
  }
}

.block {
  &__title {
    color: #846a59;
    font-size: 25px;
    font-weight: 700;
  }
}

.item {
  &__image {
    @media (max-width: 578px) {
      max-height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 578px) {
        object-fit: contain;
      }
    }
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    color: #1b1e21;
    @media (max-width: 578px) {
      margin: 20px 0;
    }
  }
  &__amount {}
  &__update {}
  &__remove {
    padding: 10px 20px;
    color: #b25034;
    &:hover {
      color: #8c3f29;
    }
  }
  &__price {
    font-size: 25px;
    margin: 20px 0 0 0;
    text-align: center;
    @media (max-width: 990px) {
      font-size: 18px;
    }
    @media (max-width: 578px) {
      font-size: 14px;
    }
  }
}

.auth {
  &__title {
    margin: 0 0 20px 0;
    text-align: center;
    position: relative;
    @media (max-width: 990px) {
      font-size: 25px;
    }
  }
  .spoiler {
    display: flex;
    align-items: center;
    font-size: 13px;
    //right: -30px;
    //top: 16px;
    &__title {
      margin: 0 20px 0 0;
      text-decoration: underline;
      cursor: pointer;
    }
    &__list {
      opacity: 0;
      transition: opacity .2s ease-out;
      background: antiquewhite;
      &.active {
        opacity: 1;
      }
    }
  }
}

.form-auth {
  position: relative;
  .inputError__text {
    display: none;
    bottom: 55px;
    &.active {
      display: block;
    }
  }
  &__btn {
    margin: 20px 0 0 0;
  }
}

.input__wrap {
  position: relative;
}

.inputError__text {
  position: absolute;
  font-size: 12px;
  color: red !important;
}

.inputError {
  outline: red;
}

.goTo {
  color: #477878;
  text-decoration: underline;
}

.sortBtn {
  font-size: 13px;
}

